*{
    margin:0 ;
    padding: 0;
    font-family:Verdana;
  }
  body{
    background:#f2a365;
  }
  .header{
    width:600px;
    height:120px;
    border:1px solid black;
  }
  .sidebar{
    width:200px;
    height:300px;
    border:1px solid black;
    float:left;
    background-image:url("C:\Users\user\Pictures\Saved Pictures\Men.jpg");
    background-size:cover;
    background-repeat: no-repeat;
  }
  .content{
    width:370px;
    height:300px;
    border:1px solid black;
    margin-left:230px;
  }
  .footer{
    width:600px;
    height:130px;
    border:1px solid black; 
  }
